.Bdrst\(1rem\) {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.Bdrsb\(2rem\) {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.Bdrsstart\(3rem\) {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.Bdrsend\(5rem\) {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
